#holder{
  margin: 100 auto;
  text-align:center;
}

#reset{
  margin: 290;

}




#theBox{
  height:600px;
  width:600px;
  margin: 0 auto;
  background: grey;

}

.newRow{

  z-index:0;
}

.newData{
  height:50px;
  width:50px;
  border: none;
  background: grey;
    z-index:  1;


}

.change{
  background:red;
    z-index:  2;
}
